body {
    background: hsl(200,0%,94%);
    font-family: helvetica;
}

.contain {
    position: absolute;
    top: 100px;
    width: 100vw;
    min-height: calc(100vh - 100px);
    background: white;
    z-index: 2;
}
.container {
    width: 100vw;
}

#container {
    width: 100%;
    z-index: 1;
    opacity: 1;
    display: flex;
    background: hsl(200, 10%, 70%);
    position: relative;
    top: 90px;
}

.mid-contain {
    background-image: url("/images/jumbotron2.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: calc(100vh * 0.35);

}

.mid-text {
    background: rgba(0, 50, 100, 0.0);
    display: block;
    width: 60%;
    margin-left: 40%;
    height: calc(100vh * 0.35);
    position: relative;

}

.mid-main {
    color: white;
    padding: 0% 5% 0% 0%;
    font-weight: 300;
    font-size: 1.7em;
    text-align: left;
    text-shadow: 0.5px 0.5px #000000;
    position: relative;
    top: 20%;


}

.mid-main2 {
    color: white;
    padding: 0% 5% 0% 0%;
    font-weight: 300;
    font-size: 1.7em;
    text-align: left;
    text-shadow: 0.5px 0.5px #000000;
    position: relative;
    top: 20%;
    margin-top: 10px;
}

.subtitle {
    color: white;
    font-size: 1em;
    text-align: left;
    padding: 10% 5% 20% 30px;
    font-weight: 400;
    text-shadow: 0.5px 0.5px #000000;
    margin-left: 30px;
}

#image-contain {
    width: 100%;
    z-index: 2;
    opacity: 1;
    display: flex;
}

#d-contain {
    width: 100%;
    z-index: 1;
    opacity: 1;
}

canvas {
    display: block;
    margin: auto;
}


.editAccount {
    display: none;
    color: hsl(200, 100%, 40%);
    background: hsl(1, 0%, 100%);
    width: 100vw;
    min-height: 100vh;
}

.head {
    display: flex;
    height: 40px;
    width: 90%;
    justify-content: center;
}
h1 {
    font-size: 1.5em;
    margin: 0px;
}

h2 {
    color: hsl(200, 100%, 40%);
    font-size: 1.5em;
    font-weight: 300;
    margin: 0;
    position: relative;
    margin-top: 15px;
}

.cure {
    color: hsl(200, 100%, 20%);
    font-size: 1.5em;
    padding-left: 0px;
}

.logo {
    height: 40px;
    padding-top: 7px;
    margin-left: 1%;
}

.contain-loggedIn {
    width: 100%;
    min-height: 50px;
    background-color: hsl(200, 50%, 95%);
    position: fixed;
    top: 50px;
    bottom: auto;
    z-index: 3;
    color: hsl(200, 50%, 20%);
    font-weight: 200;
    font-size: 1em;
}

.contain-half {
    display: flex;
    padding-left: 10px;
    min-height: 50px;
    width: 85%;
    padding-top: 0px;
    cursor: pointer;
}

.login-label {
    padding-left: 10px;
    padding-top: 0px;
    color: hsl(200,100%,20%);
    font-size: 1.1em;
    font-weight: 300;
}

.selectedPat {
    min-height: 50%;
    text-align: left;
    color: red;
    padding-top: 0px;
    padding-left: 0px;
    font-weight: 300;
    font-size: 1.1em;
    word-break:break-all;
}

.loggedInAs {
    height: 50%;
    cursor: pointer;
    padding-left: 0px;
    padding-top: 5px;
    font-size: 1.1em;
    font-weight: 300;
    word-break:break-all;
}

.logout {
    text-align: right;
    cursor: pointer;
    width: 15%;
    padding-top: 15px;
    margin-right: calc((100vw * 0.7) * 0.05 + 5px);
    font-size: 1.1em;
    font-weight: 400;
}

.account {
    cursor: pointer;
    width: 15%;
    padding-top: 5px;
    margin-right: 15px;
}
.approve-but {
    font-size: 1.1em;
    background: hsl(200,100%,40%);
    color: hsl(200,0%, 100%);
    cursor: pointer;
    outline: none !important;
    border-radius: 6px;
    border-style: solid;
    border-color: hsl(1,0%,80%);
    border-width: 1px;
    height: 30px;
    text-align: center;
    display: none;
    width: 50%;
    margin-left: 25%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.textContain {
    display: flex;
    justify-content: space-between;
    width: 100%;
    z-index: 2;
    opacity: 1;
    background: hsl(200, 70%, 65%);
    font-weight: 400;
}
.canvas-text {
    margin-left: 10px;
    margin-top: 10px;
    background: hsl(200, 70%, 65%);

}

.canvas-text2 {
    margin-left: 10px;
    padding-bottom: 10px;
    color: hsl(210,100%,40%);
    text-align: center;

}

input[type=range] {
    -webkit-appearance: none;
    background-color: hsl(210,60%,90%);
    width: 90%;
    margin: auto;
    height:20px;
    outline: none !important;
}

input[type="range"]::-webkit-slider-thumb {
     -webkit-appearance: none;
    background-color: hsl(220,100%,50%);
    opacity: 0.5;
    width: 50px;
    height: 20px;
    outline: none !important;
}
/*
#slider-1 {
    width: 90%;
    height: 20px;
}
*/
.zoom {
    text-align: center;
    color: hsl(210,100%,40%);
    font-size: 1em;
    padding-bottom: 10px;
}

.slideLRContain {
    width: 80%;
    margin: auto;
    padding-top: 10px;
}
.slideVertContain {
    padding-left: 5px;
}

#slideVert {
    -webkit-appearance: slider-vertical;
    width: 20px;
    height: 175px;
}


.frame {
    display: none;
    width: 100%;
    background: hsl(200, 70%, 65%);
}

.pat-events-title {
    color: hsl(200, 100%, 20%);
    font-size: 1.1em;
    margin-left: 25px;
}

.pat-events {
    width: 90%;
    color: hsl(200, 80%, 20%);
    font-size: 0.8em;
    padding-left: 15px;
}


.nav-menu {
    display: flex;
    width: 100%;
    height: 50px;
    background-color: hsl(200, 50%, 20%);
    position: fixed;
    top: 0px;
    z-index: 4;
}

.icon1Contain,
.icon2Contain,
.icon3Contain {
    display: block;
    width: 33%;
    outline: none !important;
    cursor: pointer;
}
.icon1Contain {
    margin-left: 1%;
    text-align: left;
}

.icon2Contain {
    text-align: left;
}
.icon3Contain {
    text-align: right;
    margin-right: 5%;
}
.icon1,
.icon2,
.icon3,
.icon4,
.icon5 {
    display: block;
    margin: auto;
    padding-top: 0px;
}

.i1,
.i2,
.i3 {
    padding-top: 17px;
    padding-left: 20px;
    font-size: 1em;
    text-align: left;
    width: 100%;

}

.i2 {
    text-align: center;
}
.i3 {
    text-align: right;
}

.icon5 {
    max-height: 30px;
    padding-top: 5px;
}

.icon4 {
    max-height: 30px;
    padding-top: 10px;
}
.icon2 {
    max-height: 30px;
    padding-top: 5px;
}
.icon3 {
    max-height: 30px;
    padding-top: 5px;
}
.icon1 {
    max-width: 25px;
    padding-top: 5px;
}

.i4 {

}

p {
    /*position: relative;
    top: 10px;
    left: 6px;
    margin: 0px;
    color: hsl(200, 20%, 30%);*/
}





.nuFormContain {
    display: none;
    color: hsl(200, 100%, 40%);
    background: hsl(1, 0%, 100%);
    width: 100%;
    /*height: calc(100vh - 100px);*/
}

.nuForm {
    display: block;
    opacity: 1;
    width: 100%;

}

.nu-title {
    width: 95%;
    margin: auto;
    color: hsl(200,100%,20%);
    padding-top: 20px;
    font-size: 1.5em;
    font-weight: 400;
    padding-bottom: 20px;
    text-align: center;
}

.nu-box-contain {
    width: 100%;
    display: flex;
   flex-wrap: wrap;
}

.nu-text-box {
    cursor: pointer;
    outline: none !important;
    width: 45%;
    border-radius: 6px;
    border-style: solid;
    border-color: hsl(1,0%,80%);
    border-width: 1px;
    font-size: 1.1em;
    color: hsl(200,100%,20%);
    text-align: center;
    background: hsl(200,0%,95%);
    height: 35px;
    margin-left: 8px;
    margin-bottom: 10px;
}

input[type="checkbox"] {
    width: 20px;
    height: 20px;
    margin: 10px 0px 10px 20px;
    cursor: pointer;
}

.firstLabel,
.lastLabel  {
    width: 45%;
    padding-left: 20px;
    color: hsl(210,70%,70%);
    font-weight: 100;
}

#shipAddressCheck,
#eshipAddressCheck  {
    height: 20px;
}

.shipText {
    width: 70%;
    font-size: 1em;
    margin: 6px 0px 10px 10px;
}

#billAddress,
#shipAddress,
#ebillAddress,
#eshipAddress,
.addressLabel
{
    width: 92%;
}


.addressLabel {
    margin-left: 20px;
    color: hsl(210,70%,70%);
    font-weight: 100;
}

#billState,
#shipState,
#ebillState,
#eshipState,
.stateLabel
 {
    width: 15%;
    margin-left: 8px;
}

#billCity,
#shipCity,
#ebillCity,
#eshipCity,
.cityLabel
{
    width: 51%;
    margin-left: 8px;
}

#billZip,
#shipZip,
#ebillZip,
#eshipZip,
.zipLabel
 {
    width: 21%;
    margin-left: 8px;
}

.officePhoneLabel,
.mobilePhoneLabel {
    width: 45%;
    color: hsl(210,70%,70%);
    font-weight: 100;
}

.emailLabel,
.passwordLabel {
    width: 45%;
    margin-top: 20px;
    padding-left: 20px;
    color: hsl(210,70%,70%);
    font-weight: 100;
}

#nupassword,
#nuemail  {
    margin-bottom: 30px;
}

.cityLabel {
    padding-left: 20px;
    color: hsl(210,70%,70%);
    font-weight: 100;
}

.officePhoneLabel,
.mobilePhoneLabel {
    padding-left: 20px;
    color: hsl(210,70%,70%);
    font-weight: 100;
}

.stateLabel,
.zipLabel {
    padding-left: 4px;
    color: hsl(210,70%,70%);
    font-weight: 100;
}



input:-webkit-autofill {
    background-color: hsl(200,0%,95%);
}

.nu-text-box:focus {
    background: hsla(54, 74%, 94%, 1);
    border-style: solid;
    border-color: hsl(1,0%,60%);
    border-width: 0.5px;

}

.nu-text-box:-webkit-autofill {
    background-color: rgb(54, 74, 94);
    border-style: solid;
    border-color: hsl(1,0%,60%);
    border-width: 0.5px;

}

.nuButton,
.updateAccount {
    cursor: pointer;
    outline: none !important;
    border-radius: 6px;
    border-style: solid;
    border-color: hsl(1,0%,80%);
    border-width: 1px;
    font-size: 1.1em;
    color: hsl(200,0%,100%);
    text-align: center;
    background: hsl(200,100%,40%);
    height: 35px;
    width: 50%;
    margin-left: 25%;
}

.nuButton {
    margin-bottom: 30px;
}

.updateAccount {
    width: 50%;
    margin-left: 25%;
}
.containUpdatButton {
    width: 100%;
    margin-top: 20px;
}
.nuSuccess,
.nuFail,
.update-fail,
.upadate-success {

}

.editAccount {
    max-width: 100%;
}

.update-user-fail {
    margin: 70px;
}

.form-head {
    display: flex;
    height: 40px;
    margin-left: 20px;
    width: 80%;
}

.form-logo {
    height: 30px;
    position: relative;
    top: 8px;
    left: 8px;
}

.form-text {
    width: 100%;
}

.ORTHO {
    color: hsl(200, 100%, 40%);
    font-size: 1.5em;
    font-weight: 200;
    padding-right: 0;
    position: absolute;
    top: 4px;
    left: 60px;
    margin: 0;
    margin-top: 8px;
}

.CURE {
    color: hsl(200, 100%, 20%);
    font-size: 1.5em;
    font-weight: 200;
    padding-left: 0;
    padding-right: 0;
    position: absolute;
    top: 4px;
    left: 133px;
    margin: 0;
    margin-top: 8px;
}



.legend-log {
    font-weight: 400;
   padding-bottom: 5px;
    margin-top: 20px;
    font-size: 1.8em;
    color: hsl(200,100%,20%);
}
.legend-log-sub {
    margin-top: 6px;
    padding-bottom: 10px;
    font-size: 1.1em;
    color: hsl(200,100%,40%);
    outline: none !important;
    cursor: pointer;
}

.log-form-head {
    padding-left: 20px;
    width: 70%;
    margin: auto;
}

legend {

}

.legend-sub {
    font-size: 1em;
    color: hsl(190, 50%, 80%);
}

.spacer {
    height: 10px;
}

.login {
    display: block;
}

#loginEmail {
    outline: none !important;
    cursor: pointer;
    border-radius: 6px;
    border-style: solid;
    border-color: hsl(1,0%,80%);
    border-width: 1px;
    font-size: 1.1em;
    color: hsl(200,100%,20%);
    text-align: center;
    background: hsl(1,0%,95%);
    margin-bottom: 15px;
    margin-top: 5px;
    width: 90%;
    height: 30px;
}

#loginPassword {
    outline: none !important;
    cursor: pointer;
    border-radius: 6px;
    border-style: solid;
    border-color: hsl(1,0%,80%);
    border-width: 1px;
    font-size: 1.1em;
    color: hsl(200,100%,20%);
    text-align: center;
    background: hsl(1,0%,95%);
    margin-bottom: 15px;
    width: 90%;
    height: 30px;
}

#loginPassword:focus {
    outline: none !important;
    background: hsla(54, 74%, 94%, 1);
    border-style: solid;
    border-color: hsl(1,0%,60%);
    border-width: 0.5px;
}
#loginEmail:focus {
    outline: none !important;
    background: hsla(54, 74%, 94%, 1);
    border-style: solid;
    border-color: hsl(1,0%,60%);
    border-width: 0.5px;
}

.logInButton {
    cursor: pointer;
    outline: none !important;
    border-radius: 6px;
    border-style: solid;
    border-color: hsl(1,0%,80%);
    border-width: 1px;
    color: hsl(1,0%,100%);
    text-align: center;
    background: hsl(200,100%,40%);
    width: 90%;
    min-height: 30px;
    font-size: 1.1em;
}

#logNewAccount {
    cursor: pointer;
    outline: none !important;
    border-radius: 6px;
    border-style: solid;
    border-color: hsl(1,0%,80%);
    border-width: 1px;
    color: hsl(1,0%,100%);
    text-align: center;
    background: hsl(180,100%,40%);
    width: 70%;
    min-height: 30px;
    font-size: 1.1em;
    margin-left: 10%;
}

#exampleBut {
    cursor: pointer;
    outline: none !important;
    border-radius: 6px;
    border-style: solid;
    border-color: hsl(1,0%,80%);
    border-width: 1px;
    color: hsl(1,0%,100%);
    text-align: center;
    background: hsl(220,50%,60%);
    width: 70%;
    min-height: 30px;
    font-size: 1.1em;
    margin-top: 30px;
    margin-left: 10%;
}

#resetPassword{
    display: none;
    font-size: 1.1em;
    font-weight: 400;
    color: hsl(200,100%,20%);
    width: 50%;
    margin: auto;
    height: calc(100vh - 200px);
    cursor: pointer;
    margin-top: 20px;
}

#resetPasswordTitle {
    margin-bottom: 20px;
}

#resetPasswordEmail {
    cursor: pointer;
    border-radius: 6px;
    border-style: solid;
    border-color: hsl(1,0%,80%);
    border-width: 1px;
    font-size: 1.1em;
    color: hsl(200,100%,20%);
    text-align: center;
    background: hsl(1,0%,95%);
    margin-bottom: 20px;
    margin-top: 20px;
    min-height: 30px;
    width: 100%;
}

.but-style,
#resetPassBut,
#changePassBut,
#changeEmailBut {
    cursor: pointer;
    outline: none !important;
    border-radius: 6px;
    border-style: solid;
    border-color: hsl(1,0%,80%);
    border-width: 1px;
    color: hsl(1,0%,100%);
    text-align: center;
    background: hsl(200,100%,30%);
    width: 100%;
    min-height: 30px;
    font-size: 1.1em;
    margin-top: 10px;
}

#changePass,
#changeEmail {
    display: none;
    font-size: 1.1em;
    font-weight: 400;
    color: hsl(200,100%,20%);
    width: 50%;
    margin: auto;
    height: 100vh;
    cursor: pointer;
}

#changePassTitle,
#changeEmailTitle {
    margin: 10px 0px 10px 0px;
}

#changePassEmail,
#changePassOldPass,
#changePassNewPass,
#changeEmailEmailOld,
#changeEmailPassword,
#changeEmailEmailNew {
    cursor: pointer;
    border-radius: 6px;
    border-style: solid;
    border-color: hsl(1,0%,80%);
    border-width: 1px;
    font-size: 1.1em;
    color: hsl(200,100%,20%);
    text-align: center;
    background: hsl(1,0%,95%);
    margin-bottom: 10px;
    margin-top: 10px;
    margin: 10px 0px 10px 0px;
    height: 30px;
    width: 100%;
}

#changeEmailLink,
#changePassLink {

}

#resetPassSuccess,
#changePassSuccess,
#changeEmailSuccess {
    display: hide;
    margin-top: 20px;
    width: 90%;
    color: green;
}



.login-fail {
    color: red;
}



.link-upload {
    width: 25%;
    color: white;
    background: hsl(200, 80%, 20%);
    border-left: solid;
    border-left-color: white;
    border-left-width: 1px;
    height: 50px;
    padding-top: 13px;
    padding-left: 12px;
    font-size: 1.5em;
    font-weight: 100
}

.add-pat {
    cursor: pointer;
    outline: none !important;
    width: 40%;
    font-size: 1.1em;
    background: hsl(200, 100%, 40%);
    color: hsl(200,0%,100%);
    border-radius: 6px;
    border-style: solid;
    border-color: hsl(1,0%,80%);
    border-width: 1px;
    height: 30px;
    margin-left: 50px;
    position: relative;
    top: 0px;
    font-weight: 400;
    text-align: center;
}

.pat-list-contain {
    display: none;
    background: hsl(200, 0%, 100%);
    min-height: 100%;
    width: 100%;
    color: hsl(200,100%,20%);
    font-weight: 300;
    padding-top: 30px;
}

.pat-list-head {
    display: flex;
    margin-left: 15px;
}

.pat-list-title {
    font-size: 1.8em;
    font-weight: 400;
}

.pat-list-item-box {
    width: 90%;

    padding-left: 40px;
    padding-top: 10px;
}
.pat-list-welcome {
    font-weight: 300;
    font-size: 1em;
    color: hsl(1,0%,80%);
}

.pat-list-warn {
    font-weight: 300;
    font-size: 1em;
    color: hsl(1,0%,80%);
    padding-left: 15px;
}

.pat-list-item {
    background: hsl(200,0%,94%);
    cursor: pointer;
    font-size: 1.1em;
    font-weight: 400;
    color: hsl(200,100%,20%);
    padding-top: 3px;
    min-height: 20px;
    width: 100%;
    margin-bottom: 12px;
    padding-left: 12px;
    border-radius: 6px;
}

.pat-list-id {
    color: hsl(200, 0%, 70%);
    font-size: 0.8em;
    padding-left: 17px;
}

.patUser {
    font-size: 0.8;
    color: hsl(190,100%,40%);
    font-weight: 300;
    padding-left: 15px;
}



.email {
    margin-left: 20%;
    margin-bottom: 8px;
    font-size: 0.9em;
    border-radius: 5px;
    background: hsl(205, 90%, 70%);
    height: 30px;
}
.chart-buts {
    width: 95%;
    margin: auto;
    margin-bottom: 8px;

}

.showUpload {
    margin-left: 8px;
    width: 45%;
    font-size: 1.1em;
    background: hsl(200,100%,40%);
    color: hsl(200,0%, 100%);
    cursor: pointer;
    outline: none !important;
    border-radius: 6px;
    border-style: solid;
    border-color: hsl(1,0%,80%);
    border-width: 1px;
    height: 30px;
    text-align: center;
    display: hidden;
}

.tx-note-show-but {
    margin-left: 8px;
    width: 45%;
    font-size: 1.1em;
    background: hsl(200,100%,40%);
    color: hsl(200,0%, 100%);
    cursor: pointer;
    outline: none !important;
    border-radius: 6px;
    border-style: solid;
    border-color: hsl(1,0%,80%);
    border-width: 1px;
    height: 30px;
    text-align: center;
    display: hidden;
}

.pat-list-text {
    color: hsl(200,0%,50%);
    font-size: 0.9em;
}

.admin-contain {
    display: none;
    background: hsl(1,50%,50%);
    width: 100%;
    color: white;
    margin-top: 50px;
    }

.doctor-list {
    width: 100%;
    color: white;
    padding-left: 20px;
    padding-top: 40px;
    padding-bottom: 20px;
    font-size: 1em;
}

.doc-list-item {
    background: hsl(1,70%, 20%);
    color: white;
     margin: auto;
    margin-bottom: 10px;
    width: 90%;
    padding: 5px;
}

.doc-pat-list-item {
    color: hsl(200,0%,50%);
}
.doc-list-title {
    color: white;
    font-size: 1.3em;
    padding-top: 30px;
    padding-left: 20px;
    font-weight: 200;
}

.setup-dr-notes {
    width: 80%;
    background: hsl(197,30%,50%);
}

.must-select {
    font-size: 1em;
    color: white;
    margin-left: 10px;
    font-weight: 200;
}

.row-file-pick {
    position: relative;
}

.bottom {
    min-height: 150px;
}

.fp__btn {
    margin-left: 10px;
    margin-bottom: 20px;
}

.btn-primary {
    float: left;
    margin-left: 30%;
}



h6 {
    position: absolute;
    top: 25px;
    left: 62px;
    margin: 0;
    margin-top: 14px;
    font-size: 0.8em;
    font-weight: 300;
    color: hsl(200, 100%, 20%);
}

#text-orthocure {
    font-weight: 50;
    font-family: helvetica;
}

h5 {
    font-weight: 100;
    font-size: 1.3em;
    color: hsl(180, 100%, 100%);
    z-index: 2;
    text-shadow: 1px 1px #000000;
    display: block;
    margin: auto;
}

.icon-bar {
    color: #000000;
}

sup {
    vertical-align: super;
    font-size: 0.4em;
    font-weight: 200;
}

.rx-text {
    width: 100%;
}

.np-form {
    width: 90%;
    font-weight: 300;
    font-size: 1.1;
    margin: auto;
}

.np-head {
    display: none;
    padding-top: 30px;
    background: hsl(1,0%, 100%);
    min-height: 100vh;
    width: 100vw;
    color: hsl(200, 100%, 20%);
    width: 70%;
}

.np-title {
    padding-top: 30px;
padding-bottom: 30px;
font-size: 1.8em;
font-weight: 400;
margin-left: 40%;
}

.patFirstName,
.patLastName,
.patDob,
#np-but  {
    cursor: pointer;
    border-radius: 6px;
    border-style: solid;
    border-color: hsl(1,0%,80%);
    border-width: 1px;
    font-size: 1.1em;
    font-weight: 400;
    color: hsl(200,100%,20%);
    text-align: center;
    background: hsl(1,0%,95%);
    position: relative;
    width: 70%;
    margin-left: 40%;
    margin-bottom: 20px;
    height: 35px;
    max-width: 300px;
}

.patFirstName:focus,
.patLastName:focus,
.patDob:focus,
#np-but:focus  {
    outline: none !important;
    background: hsla(54, 74%, 94%, 1);
    border-style: solid;
    border-color: hsl(1,0%,60%);
    border-width: 0.5px;
}
#np-but {
    background: hsl(200,100%,40%);
    color: hsl(200,0%,100%);
}
.np-success,
.np-success2 {
    margin-top: 20px;
    margin-left: 20px;
    color: green;
    font-size: 1em;
}

.patSelect {
    top: 0;
    left: 0;
    margin-left: 30px;
    font-size: 1.2em;
    font-color: hsl(200, 80%, 80%);
}

li {
    list-style-type: none;
}

ul {
    margin-bottom: 0px;
}

.files-contain {
    background: hsl(200, 0%, 100%);
    width: 100vw;
    min-height: 100vh;
    padding-bottom: 30px 10px 50px 15px;
}

.chart-head {
    width: 100%;
}

.chart {
    display: none;
}

.pat-info-title,
.chart-title {
    font-size: 1.8em;
    padding-left: 15px;
    padding-top: 30px;
    font-weight: 400;
    color: hsl(200,100%,20%);
}

.pat-chart-subtitle {
    padding-left: 15px;
    font-size: 1.1em;
    color: hsl(200,0%,50%);
    font-weight: 300;
}

.files-sub {
    font-size: 0.7em;
    color: hsl(200, 100%, 20%);
    padding-left: 15px;
}

.warn-select-file a {
    font-size: 0.7em;
    color: hsl(1, 80%, 40%);
    padding: 10px;
}

.upload-here {
    background: hsl(200, 80%, 93%);
    padding-top: 15px;
    padding-left: 20px;
    margin-left: 15px;
    margin-top: 20px;
    color: hsl(200,100%, 20%);
    font-size: 1.2em;
    font-weight: 400;
    display: none;
    width: 90%;
    border-radius: 6px;
}

.note-contain {
    background: hsl(190, 80%, 95%);
    margin-left: 15px;
    margin-top: 25px;
    color: hsl(200,100%, 20%);
    font-size: 1.1em;
    display: none;
    width: 90%;
    border-radius: 6px;
}

.warn-note {
    font-size: 0.8em;
    width: 90%;
    color: hsl(200,100%, 20%);
}

.tx-notes {
    padding: 15px;
}

#tx-notes {
    width: 100%;
    margin-top: 5px;
    background: hsla(200, 40%,95%, 0.5);
    border-radius: 6px;
}

.tx-notes-but {
    display: none;
    margin-bottom: 10px;
    cursor: pointer;
    outline: none !important;
    border-radius: 6px;
    border-style: solid;
    border-color: hsl(1,0%,80%);
    border-width: 1px;
    color: hsl(200,0%,100%);
    text-align: center;
    background: hsl(200,100%,40%);
    height: 30px;
    font-size: 1.1em;
    margin-top: 8px;
    font-weight: 400;
}
.emailDocBut {
    display: none;
    margin-bottom: 10px;
    cursor: pointer;
    outline: none !important;
    border-radius: 6px;
    border-style: solid;
    border-color: hsl(1,0%,80%);
    border-width: 1px;
    color: hsl(200,0%,100%);
    text-align: center;
    background: hsl(1,100%,40%);
    height: 30px;
    font-size: 1.1em;
    margin-top: 8px;
    font-weight: 400;
}

.pat-info-name {
    font-size: 1.1em;
    margin-left: 15px;
    color: hsl(1,100%,50%);
    font-weight: 300;
}

.pat-dob {
    font-size: 1.1em;
    margin-left: 15px;
    width: 69%;
    color: hsl(1,0%,50%);
    font-weight: 300;
}

.pat-info-files {
    font-size: 1em;
    color: white;
    margin-left: 10px;
}

.upload-contain {
    display: flex;
    height: 200px;
}

.upload-success {
    width: 75%;
    padding-left: 30px;
}

.pat-upload-for {
    font-size: 1.3em;
    color: red;
    margin-left: 20px;
}

.pat-name {
    font-size: 1em;
}



.fp__btn {
    display: none;
    margin-left: 30px;
}

#select-file-name {
    margin-left: 27px;
    font-size: 1em;
    font-weight: 400;
    width: 175px;
    margin-top: 10px;
    margin-bottom: 15px;

}


.event-item {
    font-size: 1em;
    color: white;
    background: hsl(200, 50%, 30%);
    width: 80%;
    margin: auto;
    padding: 5px;
}

.pat-event {
     padding-left: 12px;
     padding-bottom: 4px;
}

.pat-event-status {
    padding-left: 12px;
    padding-bottom: 4px;
}

.pat-event-name {
    padding-right: 8px;
    padding-top: 7px;
    margin-left: 60px;
    padding-bottom: 4px;
    color: hsl(185, 80%, 26%);
}

.pat-event-data {
    padding-left: 12px;
    padding-bottom: 4px;
    color: hsl(200, 0%, 70%);
}

.pat-event-date {
    padding-left: 12px;
    padding-top: 8px;
    color: hsl(200,0%,20%);
}

.event-box {
    cursor: pointer;
    margin-top: 15px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-right: 20px;
    display: flex;
    margin-left: 8px;
    padding-left: 12px 8px 8px 12px;
    background: hsl(200,0%,92%);
    word-break:break-all;
    border-radius: 6px;
    font-weight: 500;
    font-size: 1.1em;
}

.file-item-note {
    font-size: 0.7em;
    width: 95%;

}

.file-notes {
    margin-left: 15px;
}

label {
    font-size: 0.9em;
    font-weight: 200;
}
.file-item-date {
    font-size: 0.7em;
    width: 95%;
}
.pat-Note {
    font-size: 0.8em;
    width: 65%;
}

.pat-files {
    display: block;
    font-size: 0.7em;
}

option {
    height: 50px;
}


.hint {
    position: absolute;
    top: 0.6em;
    width: 100%;
    left: 0;
    font-size: 2em;
    font-style: italic;
    text-align: center;
    color: #fff;
    opacity: 0;
}

img {
    vertical-align: center;
    horizontal-align: center;
}

.user-acct-contain {
    display: none;
}

@media screen and (min-width: 600px) {
    .nav-menu {
    max-width: 1000px;
    width: 70%;
    right: 18%;
    }

    .contain {
    max-width: 1000px;
    width: 70%;
    right: 18%;
    background: white;
    }

    .contain-loggedIn {
        max-width: 1000px;
        width: 70%;
        right: 18%;
    }

    .nuForm {
    max-width: 500px;
    width: 70%;
    margin: auto;
    }

    .loginform {

    }
    .logInFormContain {
    display: none;
    color: hsl(200, 100%, 20%);
    max-width: 400px;
    height: calc(100vh - 100px);
    margin: auto;
    }

    .pat-list-contain {
         max-width: 500px;
    margin: auto;
    }
    .chart {
        max-width: 500px;
    margin: auto;
    min-height: calc(100vh - 100px);

    }
    .logout {
    margin-right: calc((100vw * 0.7) * 0.05);
    }
    .editAccount {
    max-width: 500px;
    margin: auto;
    }

    .mid-main,
    .mid-main2 {
        padding-left: 30px;
    font-weight: 100;
    font-size: 2em;
    }


    .subtitle {

    }

@media screen and (min-width: 800px) {
    .nu-form {
    max-width: 600px;
    margin: auto;
    }
    .mid-main,
    .mid-main2 {
        padding-left: 30px;
    font-weight: 100;
    font-size: 2.5em;
    }
}
