body {
    background: hsl(200, 0%, 94%);
    font-family: Helvetica, sans-serif;
    display: block;
    display: none;
    margin: 0px;
    position: relative;
}

input[type=range] {
    -webkit-appearance: none;
    background-color: hsl(210, 60%, 90%);
    width: 90%;
    margin: auto;
    height: 20px;
    outline: none !important;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    background-color: hsl(220, 100%, 50%);
    opacity: 0.5;
    width: 50px;
    height: 20px;
    outline: none !important;
}

a {
    text-decoration: none;
    color: hsl(200, 100%, 45%);
    cursor: pointer;
}

.a-white {
    color: white;
}


/*
a: -webkit-any-link {
    color: white;
    text-decoration: none !important;
    cursor: auto;
}

a,
a:link,
a:visited,
a:focus,
a:hover,
a:active {
    color: white;
    text-decoration: none;
    cursor: cursor;
}

body .contain .main-contain .mid-contain .main-butt a {
    color: white;
    text-decoration: none;
    cursor: cursor;
}
*/

#mySpinner {
    z-index: 3;
}

.product {
    display: none;
    position: relative;
    /*box-shadow: 0 0 15px 5px #eee;*/
    width: 80%;
    /*left: calc(-100vw * 0.28);*/
    max-width: 800px;
    min-width: 300px;
    white-space: nowrap;
    overflow-y: hidden;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
    padding: 1rem;
    margin-bottom: 20px;
    margin-top: 20px;
    background-color: hsl(190, 90%, 91%);
    margin-left: auto;
    margin-right: auto;
}

.product-item {
    display: inline;
    border-style: solid;
    border-width: 1px;
    border-color: hsl(1, 0%, 85%);
    border-radius: 5px;
    padding: 7px;
    background-color: hsl(196, 80%, 100%);
    margin-right: 7px;
    height: 250px;
}

.product__buy {
    background: #7ab55c;
    padding: 0.5625em 1.875em;
    color: white;
    text-decoration: none;
    border-radius: 3px;
    display: inline-block;
}

.product__buy:hover {
    text-decoration: none;
    background: #6aa74c;
}

.contain {
    position: relative;
    top: 97px;
    width: 100vw;
    min-height: calc(100vh - 100px);
    background: white;
}

.contain-loggedIn {
    display: flex;
    width: 100%;
    height: 49px;
    background-color: hsl(200, 0%, 75%);
    position: fixed;
    top: 50px;
    bottom: auto;
    color: hsl(200, 50%, 20%);
    margin-right: 3px;
    z-index: 2;
}

.container {
    width: 100vw;
}

#container {
    width: 100%;
    opacity: 1;
    display: flex;
    background: hsl(200, 10%, 70%);
    position: relative;
    top: 90px;
}

input[type="text"] {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.nav_spacer {
    position: fixed;
    top: 49px;
    width: 100%;
    height: 1px;
    background: white;
    z-index: 2;
}

.nav_spacer2 {
    position: fixed;
    top: 99px;
    width: 100%;
    height: 1px;
    background: white;
}

.main-contain {
    background: hsl(1, 0%, 85%);
}

.main-contain,
.nuFormContain,
.editAccount,
.logInFormContain,
#changePass,
#resetPassword,
#changeEmail,
.np-head,
.chart,
.frame,
.user-acct-contain,
.dashView {
    display: none;
}

.logInFormContain {
    padding-top: 30px;
}

.appliance {
    display: none;
    width: 100%;
    height: 1000px;
    position: relative;
    background: white;
    /* For browsers that do not support gradients */
    margin-top: 100px;
}

.appliance2 {
    display: none;
    width: 100%;
    position: relative;
    background: white;
    /* For browsers that do not support gradients */
    margin-top: 100px;
}

.appl_title {
    padding-top: 40px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.4em;
    font-weight: 100;
}

.appl_title1 {
    color: hsl(1, 0%, 10%);
    text-align: center;
    font-weight: 100;
}

.appl_title2 {
    color: hsl(200, 100%, 45%);
    text-align: center;
    font-weight: 100;
}

.appl_contain {
    width: 350px;
    margin-left: auto;
    margin-right: auto;
    height: 450px;
    position: relative;
    background: white;
}

.appl_contain2 {
    width: 350px;
    margin-left: auto;
    margin-right: auto;
    height: 450px;
    position: relative;
    font-weight: 200;
    background: white;
}

.appl_contain3 {
    height: 600px;
}

.appl_pop {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    height: 450px;
    position: relative;
    font-weight: 200;
}

.appl_pop-precise {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    height: 520px;
    position: relative;
    font-weight: 200;
}

.logoContain2 {
    overflow: visible;
    position: relative;
    background: hsl(1, 0%, 85%);
    padding-bottom: 5px;
    margin-top: 40px;
    max-width: 415px;
    margin-left: auto;
    margin-right: auto;
}

.appliance_img {
    position: absolute;
    width: 300px;
    top: -15px;
    left: -25px;
}

.appliance_img2 {
    position: absolute;
    width: 200px;
    top: 600px;
    left: 95px;
}

.line1 {
    width: 60%;
    height: 1px;
    background-color: hsl(200, 0%, 90%);
    margin-left: 20%;
    position: relative;
    top: 420px;
}

.line2 {
    width: 60%;
    height: 1px;
    background-color: hsl(200, 0%, 90%);
    margin-left: 20%;
    position: relative;
    margin-bottom: 100px;
}

.line2-a {
    position: relative;
    top: 150px;
}

.subtext {
    position: absolute;
    left: 130px;
    top: 210px;
}

.subtext2 {
    position: absolute;
    left: 30px;
    top: 480px;
}

.item1 {
    color: hsl(200, 0%, 35%);
    font-size: 1em;
    margin-top: 15px;
    font-weight: 100;
}

.item2 {
    color: hsl(200, 100%, 45%);
    font-size: 0.8em;
    font-weight: 100;
    margin-top: 0px;
}

.intro {
    margin-bottom: 40px;
    color: hsl(200, 0%, 65%);
    font-size: 0.9em;
    font-weight: 200;
    width: 90%;
    margin-left: 5%;
    text-align: center;
}

.intro-beauty {
    margin-bottom: 30px;
    margin-top: 30px;
    color: hsl(200, 0%, 65%);
    font-size: 0.8em;
    font-weight: 200;
    width: 90%;
    margin-left: 5%;
    text-align: center;
}

.pop-intro {
    margin-top: 30px;
    margin-bottom: 30px;
    color: hsl(200, 0%, 65%);
    font-size: 0.8em;
    font-weight: 200;
    width: 90%;
    margin-left: 5%;
    text-align: center;
}

.item-title {
    color: black;
    font-size: 1.4em;
    font-weight: 100;
    margin-bottom: 20px;
    width: 90%;
    margin-left: 4%;
    text-align: center;
}

.pop-title {
    color: black;
    font-size: 1.4em;
    font-weight: 100;
    margin-bottom: 20px;
    width: 90%;
    margin-left: 4%;
    text-align: center;
}

.item_link {
    color: hsl(200, 100%, 45%);
    font-size: 1em;
    margin-bottom: 30px;
    width: 50%;
    margin-left: 25%;
    text-align: center;
}

.item-sub {
    color: hsl(200, 100%, 45%);
    font-size: 0.9em;
    margin-bottom: 20px;
    width: 90%;
    margin-left: 5%;
    text-align: center;
}

.big {
    font-size: 1em;
    margin-top: 40px;
}

.big2 {
    font-size: 1em;
    margin-top: 40px;
    margin-bottom: 70px;
}

.pop-item-sub {
    color: hsl(200, 100%, 45%);
    font-size: 0.9em;
    margin-bottom: 30px;
    width: 90%;
    margin-left: 5%;
    text-align: center;
}

.item-desc {
    color: hsl(1, 0%, 60%);
    font-size: 1em;
    font-weight: 100;
    margin-bottom: 20px;
    width: 80%;
    margin-left: 7%;
    text-align: center;
}

.item-desc-pop {
    color: hsl(1, 0%, 60%);
    font-size: 1em;
    font-weight: 100;
    margin-bottom: 40px;
    width: 70%;
    margin-left: 12%;
    text-align: center;
}

.appliance_iwd2 {
    max-width: 100%;
}

.appliance_iwd {
    margin-top: 30px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
}

.seat {
    width: 60%;
    margin-left: 17%;
}

.mirror {
    width: 70%;
    margin-left: 12%;
}

.redgirl {
    width: 50%;
    margin-left: 23%;
}

.size {
    width: 65%;
    margin-left: 19%;
}

.comfort {
    width: 100%;
}

.tray-414 {
    width: 80%;
    margin-left: 8%;
}

.precise {
    width: 65%;
    margin-left: 21%;
    margin-top: 20px;
}

.dart {
    width: 65%;
    margin-left: 10%;
    margin-top: 20px;
}

.setup {
    width: 45%;
    margin-left: 20%;
    margin-top: 20px;
}

.space-hold {
    height: 300px;
    width: 60%;
    margin-left: 18%;
    text-align: center;
}

.beauty,
.dialed,
.autopilot,
.digital,
.retainer,
.preinstalled {
    cursor: pointer;
}

.xout {
    font-size: 1em;
    color: hsl(1, 0%, 40%);
    position: relative;
    width: 10px;
    height: 10px;
    top: 5px;
    left: 94%;
    cursor: pointer;
}

.inviscomfort {
    width: 100%;
    background: white;
}

.inviscomfort-inside {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border-width: 1px;
    border-radius: 7px;
    border-color: hsl(2, 0%, 80%);
}

.pop-overview {
    height: 1550px;
    width: 100%;
    background: white;
}

.pop-install {
    width: 100%;
    background: white;
}

.pop-dialed {
    width: 100%;
    background: white;
}

.pop-retainer {
    width: 100%;
    background: white;
}

.pop-precise {
    width: 100%;
    background: white;
    margin-bottom: 80px;
}

.pop-overview-inside {
    height: 1500px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border-width: 1px;
    border-radius: 7px;
    border-color: hsl(2, 0%, 80%);
}

.pop-overview-inside2 {
    height: 1390px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border-width: 1px;
    border-radius: 7px;
    border-color: hsl(2, 0%, 80%);
}

.pop-precise-inside2 {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border-width: 1px;
    border-radius: 7px;
    border-color: hsl(2, 0%, 80%);
}

.pop-dialed-inside2 {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border-width: 1px;
    border-radius: 7px;
    border-color: hsl(2, 0%, 80%);
}

.pop-retainer-inside2 {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border-width: 1px;
    border-radius: 7px;
    border-color: hsl(2, 0%, 80%);
}

.pop-install-inside2 {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border-width: 1px;
    border-radius: 7px;
    border-color: hsl(2, 0%, 80%);
}


/*


End learn-more1 content



*/

.logo-box {
    padding-top: 0px;
    padding-left: 0px;
}

.ident1 {
    position: absolute;
    left: 125px;
}

.xrayImage img {
    max-height: 500px;
    width: 100%;
}

.mid-contain {
    background-image: url("/images/jumbotron4.png");
    background-position: -20px;
    background-size: cover;
}

.mid-text {
    background: rgba(0, 50, 100, 0.0);
    display: block;
    width: 50%;
    height: 250px;
    position: relative;
    margin-left: 45%;
    margin-right: 5%;
    top: 20px;
}

.mid-main {
    color: white;
    padding: 0% 5% 0% 0%;
    font-weight: 400;
    font-size: 1.4em;
    text-align: left;
    text-shadow: 0.5px 0.5px #000000;
    position: relative;
    top: 40px;
    left: 20px;
}

.mid-main2 {
    color: white;
    font-weight: 400;
    font-size: 1.4em;
    text-align: left;
    text-shadow: 0.5px 0.5px #000000;
    position: relative;
    top: 40px;
    left: 20px;
}

.subtitle {
    color: white;
    font-size: 1em;
    text-align: left;
    padding: 10% 5% 20% 30px;
    font-weight: 400;
    text-shadow: 0.5px 0.5px #000000;
    margin-left: 30px;
}

#image-contain {
    width: 100%;
    z-index: 2;
    opacity: 1;
    display: flex;
}

#d-contain {
    width: 100%;
    z-index: 1;
    opacity: 1;
}

canvas {
    display: block;
    margin: auto;
}

.editAccount {
    color: hsl(200, 100%, 40%);
    background: hsl(1, 0%, 100%);
    width: 100vw;
    min-height: 100vh;
}

.head {
    display: flex;
    height: 40px;
    width: 90%;
    justify-content: center;
}

h1 {
    font-size: 1.5em;
    margin: 0px;
}

h2 {
    color: hsl(200, 100%, 40%);
    font-size: 1.5em;
    font-weight: 300;
    margin: 0;
    position: relative;
    margin-top: 15px;
}

.cure {
    color: hsl(200, 100%, 20%);
    font-size: 18px;
    font-weight: 300;
    padding-top: 15px;
    padding-left: 1px;
}

.ortho {
    color: hsl(190, 100%, 40%);
    font-size: 18px;
    font-weight: 300;
    padding-top: 15px;
}

.logo {
    height: 30px;
    padding-top: 8px;
    padding-left: 5px;
}

.logo2 {
    position: relative;
    left: 180px;
    height: 20px;
    padding-top: 4px;
}

.orthocure {
    position: absolute;
    font-size: 1.3em;
    font-weight: 300;
    color: hsl(1, 0%, 100%);
    left: 37px;
    top: 11px;
}

.orthocure2 {
    position: relative;
    font-size: 1.0em;
    font-weight: 300;
    color: hsl(1, 0%, 100%);
    left: 183px;
    top: 6px;
}

.contain-half {
    display: flex;
    min-height: 50px;
    width: 50%;
    cursor: pointer;
    font-size: 0.9em;
}

.displayUser {
    position: relative;
    cursor: pointer;
    display: none;
    width: 50%;
    height: 100%;
    overflow: visible;
    text-align: left;
    padding-left: 8px;
    padding-top: 15px;
}

.displayUser2 {
    padding-left: 8px;
    padding-top: 16px;
    font-weight: 400;
    font-size: 0.9em;
}

.displayPat {
    display: none;
    height: 100%;
    width: 50%;
    text-align: right;
    color: hsl(1, 100%, 50%);
    padding-top: 15px;
    font-weight: 400;
    font-size: 0.9em;
    padding-right: 8px;
}

.logoContain {
    display: flex;
    overflow: visible;
    position: relative;
    width: 160px;
    margin-left: auto;
    margin-right: auto;
}

.login-label {
    padding-left: 10px;
    padding-top: 0px;
    color: hsl(200, 100%, 20%);
    font-size: 1.1em;
    font-weight: 300;
}

.loggedInAs {
    height: 50%;
    cursor: pointer;
    padding-left: 0px;
    padding-top: 5px;
    font-size: 1.1em;
    font-weight: 300;
    word-break: break-all;
}

.account {
    cursor: pointer;
    width: 15%;
    padding-top: 5px;
    margin-right: 15px;
}

.approve-but {
    font-size: 1.1em;
    background: hsl(200, 100%, 40%);
    color: hsl(200, 0%, 100%);
    cursor: pointer;
    outline: none !important;
    border-radius: 6px;
    border-style: solid;
    border-color: hsl(1, 0%, 80%);
    border-width: 1px;
    height: 30px;
    text-align: center;
    display: none;
    width: 50%;
    margin-left: 25%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.textContain {
    display: flex;
    justify-content: space-between;
    width: 100%;
    opacity: 1;
    background: hsl(200, 70%, 65%);
    font-weight: 400;
}

.canvas-text {
    margin-left: 10px;
    margin-top: 10px;
    background: hsl(200, 70%, 65%);
}

.canvas-text2 {
    margin-left: 10px;
    padding-bottom: 10px;
    color: hsl(210, 100%, 40%);
    text-align: center;
}

.zoom {
    text-align: center;
    color: hsl(210, 100%, 40%);
    font-size: 1em;
    padding-bottom: 10px;
}

.slideLRContain {
    width: 80%;
    margin: auto;
    padding-top: 10px;
}

.slideVertContain {
    padding-left: 5px;
}

#slideVert {
    -webkit-appearance: slider-vertical;
    width: 20px;
    height: 175px;
}

.frame {
    display: none;
    width: 100%;
    background: hsl(200, 70%, 65%);
}

.pat-events-title {
    color: hsl(200, 100%, 20%);
    font-size: 1em;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.pat-events {
    width: 90%;
    color: hsl(200, 80%, 20%);
    font-size: 0.8em;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 40px;
}

.nav-menu {
    display: flex;
    width: 100%;
    height: 49px;
    background-color: hsl(205, 90%, 25%);
    position: fixed;
    top: 0px;
    z-index: 2;
}

.dashBoardButton,
.loginTab,
.patientButton {
    display: block;
    width: 31.3%;
    outline: none !important;
    cursor: pointer;
}

.loginTab {
    margin-left: auto;
    margin-right: auto;
}

.dashBoardButton {
    margin-left: 8px;
    text-align: left;
}

.icon1,
.icon2,
.icon3,
.icon4,
.icon5 {
    display: block;
    margin: auto;
    padding-top: 0px;
}

.i1,
.i2,
.i3 {
    font-size: 1em;
    font-weight: 400;
    text-align: left;
}

.i2 {
    text-align: center;
    padding-left: 10px;
}

.i3 {
    text-align: right;
    padding-right: 8px;
}

.icon5 {
    max-height: 30px;
    padding-top: 5px;
}

.icon4 {
    max-height: 30px;
    padding-top: 10px;
}

.icon2 {
    max-height: 30px;
    padding-top: 5px;
}

.icon3 {
    max-height: 30px;
    padding-top: 5px;
}

.icon1 {
    max-width: 25px;
    padding-top: 5px;
}

.i4 {}

p {}

.nuFormContain {
    display: none;
    color: hsl(200, 100%, 40%);
    background: hsl(1, 0%, 100%);
    width: 100%;
    /*height: calc(100vh - 100px);*/
}

.nuForm {
    display: block;
    opacity: 1;
    width: 100%;
}

.nu-form-box {
    width: 300px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

#nu-form {
    position: relative;
}

.nu-box-contain {
    width: 290px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

.nu-text-box {
    cursor: pointer;
    outline: none !important;
    width: 45%;
    border-radius: 3px;
    border-style: solid;
    border-color: hsl(1, 0%, 80%);
    border-width: 1px;
    font-size: 0.8em;
    font-weight: 300;
    color: hsl(200, 40%, 20%);
    text-align: center;
    background: hsl(200, 0%, 95%);
    height: 25px;
    margin-left: 8px;
    margin-bottom: 5px;
}

input[type="checkbox"] {
    width: 20px;
    height: 20px;
    margin: 10px 0px 10px 20px;
    cursor: pointer;
}

#shipAddressCheck,
#eshipAddressCheck {
    height: 20px;
}

.shipText {
    width: 70%;
    font-size: 1em;
    margin: 6px 0px 10px 10px;
    padding-top: 4px;
}

.spacer1 {
    height: 1px;
    width: 100%;
}

.spacer2 {
    height: 5px;
    width: 100%;
}

.firstName,
.lastName {
    width: 115px;
    margin-top: 10px;
}

.mobilePhone,
.officePhone {
    width: 115px;
}

#ephone,
#ephone2 {
    width: 115px;
}

#billAddress,
#shipAddress,
.shipAddress,
.billAddress,
#ebillAddress,
#eshipAddress {
    width: 275px;
}

#billState,
#shipState,
.shipState,
.billState,
#ebillState,
#eshipState {
    width: 40px;
    margin-left: 8px;
}

#billCity,
#shipCity,
.billCity,
.shipCity,
#ebillCity,
#eshipCity {
    width: 200px;
    margin-left: 8px;
}

#billZip,
#shipZip,
#ebillZip,
#eshipZip,
.billZip,
.shipZip,
.zipLabel {
    width: 100px;
    margin-left: 8px;
}

.userEmail,
.userPassword {
    width: 175px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
}

input:-webkit-autofill {
    background-color: hsl(200, 0%, 95%);
}

.nu-text-box:focus {
    background: hsla(54, 74%, 94%, 1);
    border-style: solid;
    border-color: hsl(1, 0%, 60%);
    border-width: 0.5px;
}

.nu-text-box:-webkit-autofill {
    background-color: rgb(54, 74, 94);
    border-style: solid;
    border-color: hsl(1, 0%, 60%);
    border-width: 0.5px;
}

.nuButton,
.updateAccount {
    cursor: pointer;
    outline: none !important;
    border-radius: 3px;
    border-style: solid;
    border-color: hsl(1, 0%, 80%);
    border-width: 1px;
    font-size: 1em;
    color: hsl(200, 0%, 100%);
    text-align: center;
    background: hsl(200, 100%, 40%);
    height: 35px;
    width: 50%;
    margin-left: 25%;
}

.nuButton {
    margin-bottom: 30px;
    width: 60%;
    margin-left: 20%;
}

.nu-title {
    color: hsl(200, 100%, 20%);
    padding-top: 10px;
    font-size: 1.2em;
    font-weight: 400;
    padding-bottom: 10px;
    text-align: center;
}

.containUpdateButton {
    width: 100%;
    margin-bottom: 20px;
    display: flex;
}

.updateAccount {
    width: 150px;
    font-size: 1em;
    margin-right: auto;
    margin-left: auto;
    margin-top: 8px;
}

.nuSuccess,
.nuFail,
.update-fail,
.upadate-success {}

.editAccount {
    max-width: 100%;
}

.update-user-fail {
    margin: 70px;
}

.form-head {
    display: flex;
    height: 40px;
    margin-left: 20px;
    width: 80%;
}

.form-logo {
    height: 30px;
    position: relative;
    top: 8px;
    left: 8px;
}

.form-text {
    width: 100%;
}

.ORTHO {
    color: hsl(200, 100%, 40%);
    font-size: 1.5em;
    font-weight: 200;
    padding-right: 0;
    position: absolute;
    top: 4px;
    left: 60px;
    margin: 0;
    margin-top: 8px;
    padding-top: 0px;
    padding-left: 0px;
}

.CURE {
    color: hsl(200, 100%, 20%);
    font-size: 1.5em;
    font-weight: 200;
    padding-left: 0;
    padding-right: 0;
    position: absolute;
    top: 4px;
    left: 133px;
    margin: 0;
    margin-top: 8px;
    padding-top: 0px;
    padding-left: 0px;
}

.legend-log {
    font-weight: 400;
    padding-bottom: 5px;
    font-size: 1.8em;
    color: hsl(200, 100%, 20%);
}

.legend-log-sub {
    margin-top: 6px;
    padding-bottom: 10px;
    font-size: 0.9em;
    color: hsl(200, 100%, 40%);
    outline: none !important;
    cursor: pointer;
}

.log-form-head {
    width: 210px;
    margin: auto;
}

legend {}

.legend-sub {
    font-size: 1em;
    color: hsl(190, 50%, 80%);
}

.spacer {
    height: 10px;
}

.login {
    display: block;
    width: 90%;
    margin-left: 5%;
}

#loginEmail {
    outline: none !important;
    cursor: pointer;
    border-radius: 3px;
    border-style: solid;
    border-color: hsl(1, 0%, 80%);
    border-width: 1px;
    font-size: 0.8em;
    color: hsl(200, 50%, 20%);
    text-align: center;
    background: hsl(1, 0%, 95%);
    margin-bottom: 15px;
    margin-top: 5px;
    width: 90%;
    margin-left: 5%;
    height: 30px;
}

#loginPassword {
    outline: none !important;
    cursor: pointer;
    border-radius: 3px;
    border-style: solid;
    border-color: hsl(1, 0%, 80%);
    border-width: 1px;
    font-size: 0.8em;
    color: hsl(200, 50%, 20%);
    text-align: center;
    background: hsl(1, 0%, 95%);
    margin-bottom: 15px;
    width: 90%;
    margin-left: 5%;
    height: 30px;
}

#loginPassword:focus {
    outline: none !important;
    background: hsla(54, 74%, 94%, 1);
    border-style: solid;
    border-color: hsl(1, 0%, 60%);
    border-width: 0.5px;
}

#loginEmail:focus {
    outline: none !important;
    background: hsla(54, 74%, 94%, 1);
    border-style: solid;
    border-color: hsl(1, 0%, 60%);
    border-width: 0.5px;
}

.logInBut {
    cursor: pointer;
    outline: none !important;
    border-radius: 3px;
    color: hsl(1, 0%, 100%);
    text-align: center;
    vertical-align: middle;
    width: 90%;
    margin-left: 5%;
    height: 30px;
    font-size: 1em;
    padding-top: 10px;
    background: hsl(200, 100%, 50%);
}

.main-email {
    position: relative;
    border-radius: 3px;
    border-style: solid;
    border-color: hsl(1, 0%, 80%);
    border-width: 1px;
    font-size: 0.9em;
    color: hsl(200, 100%, 20%);
    text-align: center;
    background: hsla(1, 0%, 95%, 0.9);
    width: 283px;
    height: 38px;
}

.main-email2 {
    position: relative;
    width: 280px;
    height: 30px;
    top: -30px;
    margin-left: auto;
    margin-right: auto;
}

.main-email:focus {
    outline: none !important;
    background: hsla(54, 74%, 94%, 1);
    border-style: solid;
    border-color: hsl(1, 0%, 60%);
    border-width: 0.5px;
}

.main-butt {
    position: relative;
    border-radius: 3px;
    font-size: 1em;
    background: hsla(200, 100%, 45%, 1);
    color: hsl(200, 100%, 45%);
    width: 110px;
    padding-top: 7px;
    height: 30px;
    top: -100px;
    left: 70px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-top: 12px;
}

.logNewAccount {
    outline: none !important;
    cursor: pointer;
    padding-top: 10px;
    border-radius: 3px;
    color: hsl(1, 0%, 100%);
    text-align: center;
    background: hsl(180, 100%, 30%);
    width: 90%;
    margin-left: 5%;
    height: 30px;
    font-size: 1em;
}

.exampleBut {
    cursor: pointer;
    outline: none !important;
    border-radius: 3px;
    border-style: solid;
    border-color: hsl(1, 0%, 80%);
    border-width: 1px;
    color: hsl(1, 0%, 100%);
    text-align: center;
    background: hsl(220, 60%, 50%);
    width: 90%;
    margin-left: 5%;
    height: 30px;
    font-size: 1em;
    padding-top: 10px;
}

#resetPasswordLink,
#changePassLink,
#changeEmailLink {
    text-align: center;
}

#resetPassword {
    display: none;
    font-size: 1em;
    font-weight: 400;
    color: hsl(200, 100%, 20%);
    width: 90%;
    margin-left: 5%;
    height: calc(100vh - 200px);
    cursor: pointer;
    margin-top: 20px;
}

#resetPasswordTitle {
    margin-bottom: 20px;
}

#resetPasswordEmail {
    cursor: pointer;
    border-radius: 6px;
    border-style: solid;
    border-color: hsl(1, 0%, 80%);
    border-width: 1px;
    font-size: 1em;
    color: hsl(200, 100%, 20%);
    text-align: center;
    background: hsl(1, 0%, 95%);
    margin-bottom: 20px;
    margin-top: 20px;
    min-height: 30px;
    width: 50%;
}

.but-style,
#resetPassBut,
#changePassBut,
#changeEmailBut {
    cursor: pointer;
    outline: none !important;
    border-radius: 6px;
    border-style: solid;
    border-color: hsl(1, 0%, 80%);
    border-width: 1px;
    color: hsl(1, 0%, 100%);
    text-align: center;
    background: hsl(200, 100%, 30%);
    width: 100%;
    min-height: 30px;
    font-size: 1em;
    margin-top: 10px;
}

#resetPassBut {
    width: 50%;
}

#changePass,
#changeEmail {
    display: none;
    font-size: 1em;
    font-weight: 400;
    color: hsl(200, 100%, 20%);
    width: 50%;
    margin: auto;
    height: 100vh;
    cursor: pointer;
}

#changePassTitle,
#changeEmailTitle {
    margin: 10px 0px 10px 0px;
}

#changePassEmail,
#changePassOldPass,
#changePassNewPass,
#changeEmailEmailOld,
#changeEmailPassword,
#changeEmailEmailNew {
    cursor: pointer;
    border-radius: 6px;
    border-style: solid;
    border-color: hsl(1, 0%, 80%);
    border-width: 1px;
    font-size: 0.8em;
    color: hsl(200, 100%, 20%);
    text-align: center;
    background: hsl(1, 0%, 95%);
    margin-bottom: 10px;
    margin-top: 10px;
    margin: 10px 0px 10px 0px;
    height: 30px;
    width: 100%;
}

#changeEmailLink,
#changePassLink {}

#resetPassSuccess,
#changePassSuccess,
#changeEmailSuccess {
    display: hide;
    margin-top: 20px;
    width: 90%;
    color: green;
}

.login-fail {
    color: red;
}

.link-upload {
    width: 25%;
    color: white;
    background: hsl(200, 80%, 20%);
    border-left: solid;
    border-left-color: white;
    border-left-width: 1px;
    height: 50px;
    padding-top: 13px;
    padding-left: 12px;
    font-size: 1.5em;
    font-weight: 100
}

.pat-list-contain {
    background: hsl(200, 0%, 100%);
    width: 100%;
    color: hsl(200, 100%, 20%);
    font-weight: 300;
    font-size: 20px;
    position: relative;
}

.pat-list-head {
    display: flex;
    position: absolute;
    left: 100px;
    top: -210px;
}

.pat-list-title {
    font-size: 1.2em;
    font-weight: 400;
}

.pat-list-welcome {
    font-weight: 300;
    font-size: 1em;
    color: hsl(1, 0%, 80%);
}

.pat-list-warn {
    font-weight: 300;
    font-size: 1em;
    color: hsl(1, 0%, 80%);
    padding-left: 15px;
}

.pat-list-item-box {
    width: 73%;
    height: 280px;
    overflow: scroll;
    position: absolute;
    left: 66px;
    top: -190px;
}

.pat-list-item {
    border-radius: 5px;
    background: hsl(200, 0%, 93%);
    cursor: pointer;
    font-size: 0.8em;
    font-weight: 400;
    color: hsl(200, 100%, 20%);
    padding-top: 10px;
    padding-left: 10px;
    height: 40px;
    width: 95%;
    margin-bottom: 5px;
    margin-left: 5px;
    text-align: left;
}

.pat-list-id {
    color: hsl(200, 0%, 80%);
    font-size: 0.6em;
    padding-left: 17px;
}

.patUser {
    font-size: 0.8;
    color: hsl(190, 100%, 40%);
    font-weight: 300;
    padding-left: 15px;
}

.email {
    margin-left: 20%;
    margin-bottom: 8px;
    font-size: 0.9em;
    border-radius: 5px;
    background: hsl(205, 90%, 70%);
    height: 30px;
}

.chart-buts {
    margin-bottom: 8px;
    position: relative;
}

.showUpload {
    margin-left: auto;
    margin-right: auto;
    width: 175px;
    font-size: 1em;
    background: hsl(200, 100%, 40%);
    color: hsl(200, 0%, 100%);
    cursor: pointer;
    outline: none !important;
    border-radius: 3px;
    border-style: solid;
    border-color: hsl(1, 0%, 80%);
    border-width: 1px;
    height: 25px;
    text-align: center;
    padding-top: 8px;
}

.tx-note-show-but {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    width: 175px;
    font-size: 1em;
    background: hsl(200, 100%, 40%);
    color: hsl(200, 0%, 100%);
    cursor: pointer;
    outline: none !important;
    border-radius: 3px;
    border-style: solid;
    border-color: hsl(1, 0%, 80%);
    border-width: 1px;
    height: 25px;
    text-align: center;
    padding-top: 8px;
}

.buy {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    width: 175px;
    font-size: 1em;
    background: hsl(180, 90%, 45%);
    color: hsl(200, 0%, 100%);
    cursor: pointer;
    outline: none !important;
    border-radius: 3px;
    border-style: solid;
    border-color: hsl(1, 0%, 80%);
    border-width: 1px;
    height: 25px;
    text-align: center;
    padding-top: 10px;
}

.toggle-status {
    margin-top: 10px;
    width: 175px;
    font-size: 1em;
    background: hsl(190, 90%, 45%);
    color: hsl(200, 0%, 100%);
    cursor: pointer;
    outline: none !important;
    border-radius: 3px;
    border-style: solid;
    border-color: hsl(1, 0%, 80%);
    border-width: 1px;
    height: 30px;
    text-align: center;
}

.showHidden {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    width: 175px;
    font-size: 1em;
    background: hsl(200, 90%, 45%);
    color: hsl(200, 0%, 100%);
    cursor: pointer;
    outline: none !important;
    border-radius: 3px;
    border-style: solid;
    border-color: hsl(1, 0%, 80%);
    border-width: 1px;
    height: 25px;
    text-align: center;
    padding-top: 10px;
}

.pat-list-text {
    color: hsl(200, 0%, 50%);
    font-size: 0.9em;
}

.admin-contain {
    display: none;
    background: hsl(185, 90%, 97%);
    width: 100%;
    color: white;
    margin-top: 50px;
}

.doctor-list {
    width: 100%;
    color: hsl(185, 80%, 20%);
    padding-left: 20px;
    padding-top: 40px;
    padding-bottom: 20px;
    font-size: 0.9em;
}

.doc-list-item {
    background: hsl(185, 80%, 80%);
    color: hsl(185, 0%, 40%);
    margin: auto;
    margin-bottom: 10px;
    width: 90%;
    padding: 5px;
    font-size: 0.9em;
}

.doc-pat-list-item {
    color: hsl(200, 0%, 60%);
    font-size: 0.9em;
    height: 25px;
    margin-top: 10px;
}

.doc-list-title {
    color: hsl(185, 80%, 20%);
    font-size: 1.1em;
    padding-top: 30px;
    padding-left: 20px;
    font-weight: 200;
}

.setup-dr-notes {
    width: 80%;
    background: hsl(197, 30%, 50%);
}

.must-select {
    font-size: 1em;
    color: white;
    margin-left: 10px;
    font-weight: 200;
}

.row-file-pick {
    position: relative;
}

.bottom {
    min-height: 150px;
}

.fp__btn {
    margin-left: 10px;
    margin-bottom: 20px;
}

.btn-primary {
    float: left;
    margin-left: 30%;
}

h6 {
    position: absolute;
    top: 25px;
    left: 62px;
    margin: 0;
    margin-top: 14px;
    font-size: 0.8em;
    font-weight: 300;
    color: hsl(200, 100%, 20%);
}

#text-orthocure {
    font-weight: 50;
}

h5 {
    font-weight: 100;
    font-size: 1.3em;
    color: hsl(180, 100%, 100%);
    text-shadow: 1px 1px #000000;
    display: block;
    margin: auto;
}

.icon-bar {
    color: #000000;
}

sup {
    vertical-align: super;
    font-size: 0.4em;
    font-weight: 200;
}

.rx-text {
    width: 100%;
}

.np-form {
    width: 180px;
    margin: auto;
}

.np-head {
    display: none;
    padding-top: 0px;
    background: hsl(1, 0%, 100%);
    min-height: 100vh;
    width: 100vw;
    color: hsl(200, 100%, 20%);
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.np-title {
    padding-top: 15px;
    padding-bottom: 30px;
    font-size: 1.8em;
    font-weight: 400;
}

.patFirstName,
.patLastName,
.patDob,
#np-but {
    cursor: pointer;
    border-radius: 3px;
    border-style: solid;
    border-color: hsl(1, 0%, 80%);
    border-width: 1px;
    font-size: 0.8em;
    font-weight: 400;
    color: hsl(200, 100%, 20%);
    text-align: center;
    background: hsl(1, 0%, 95%);
    position: relative;
    width: 150px;
    margin-bottom: 20px;
    height: 35px;
    max-width: 300px;
}

.patFirstName:focus,
.patLastName:focus,
.patDob:focus,
#np-but:focus {
    outline: none !important;
    background: hsla(54, 74%, 94%, 1);
    border-style: solid;
    border-color: hsl(1, 0%, 60%);
    border-width: 0.5px;
}

#np-but {
    background: hsl(200, 100%, 40%);
    color: hsl(200, 0%, 100%);
    width: 160px;
}

.np-success,
.np-success2 {
    margin-top: 20px;
    margin-left: 20px;
    color: green;
    font-size: 1em;
}

.patSelect {
    top: 0;
    left: 0;
    margin-left: 30px;
    font-size: 1.2em;
    font-color: hsl(200, 80%, 80%);
}

li {
    list-style-type: none;
}

ul {
    margin-bottom: 0px;
    padding-left: 0px;
    margin-left: 30px;
}

.files-contain {
    background: hsl(200, 0%, 100%);
    width: 100vw;
    min-height: 100vh;
    padding-bottom: 30px 10px 50px 15px;
}

.chart-head {
    width: 100%;
}

.chart {
    display: none;
}

.pat-info-title,
.chart-title {
    width: 50%;
    font-size: 1.2em;
    padding-left: 15px;
    padding-top: 15px;
    font-weight: 400;
    color: hsl(200, 100%, 20%);
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.pat-chart-subtitle {
    padding-left: 15px;
    font-size: 1.1em;
    color: hsl(200, 0%, 50%);
    font-weight: 300;
}

.files-sub {
    font-size: 0.7em;
    color: hsl(200, 100%, 20%);
    padding-left: 15px;
}

.warn-select-file a {
    font-size: 0.7em;
    color: hsl(1, 80%, 40%);
    padding: 10px;
}

.upload-here {
    position: relative;
    width: 270px;
    min-height: 110px;
    margin-left: auto;
    margin-right: auto;
    background: hsl(200, 80%, 93%);
    padding-top: 15px;
    padding-left: 20px;
    color: hsl(200, 100%, 20%);
    font-size: 1.2em;
    font-weight: 400;
    display: none;
    border-radius: 6px;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.note-contain {
    position: relative;
    width: 270px;
    min-height: 110px;
    margin-left: auto;
    margin-right: auto;
    background: hsl(200, 80%, 93%);
    padding-top: 15px;
    padding-left: 20px;
    color: hsl(200, 100%, 20%);
    font-size: 1em;
    font-weight: 400;
    display: none;
    border-radius: 6px;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.warn-note {
    font-size: 0.8em;
    width: 90%;
    color: hsl(200, 100%, 20%);
}

.tx-notes {
    padding: 15px;
}

#tx-notes {
    width: 100%;
    margin-top: 5px;
    background: hsla(200, 40%, 95%, 0.5);
    border-radius: 6px;
}

.tx-notes-but {
    display: none;
    margin-bottom: 10px;
    cursor: pointer;
    outline: none !important;
    border-radius: 6px;
    border-style: solid;
    border-color: hsl(1, 0%, 80%);
    border-width: 1px;
    color: hsl(200, 0%, 100%);
    text-align: center;
    background: hsl(200, 100%, 40%);
    height: 30px;
    font-size: 0.9em;
    margin-top: 8px;
    font-weight: 400;
}

.emailDocBut {
    display: none;
    margin-bottom: 10px;
    cursor: pointer;
    outline: none !important;
    border-radius: 6px;
    border-style: solid;
    border-color: hsl(1, 0%, 80%);
    border-width: 1px;
    color: hsl(200, 0%, 100%);
    text-align: center;
    background: hsl(1, 100%, 40%);
    height: 30px;
    font-size: 1.1em;
    margin-top: 8px;
    font-weight: 400;
}

.pat-info-name {
    font-size: 1.1em;
    margin-left: 15px;
    color: hsl(1, 100%, 50%);
    font-weight: 300;
}

.pat-dob {
    font-size: 1.1em;
    margin-left: 15px;
    width: 69%;
    color: hsl(1, 0%, 50%);
    font-weight: 300;
}

.pat-info-files {
    font-size: 1em;
    color: white;
    margin-left: 10px;
}

.upload-contain {
    display: flex;
    height: 200px;
}

.upload-success {
    width: 75%;
    padding-left: 30px;
}

.pat-upload-for {
    font-size: 1.3em;
    color: red;
    margin-left: 20px;
}

.pat-name {
    font-size: 1em;
}

.fp__btn {
    display: none;
    margin-left: 30px;
}

#select-file-name {
    margin-left: 27px;
    font-size: 1em;
    font-weight: 400;
    width: 175px;
    margin-top: 10px;
    margin-bottom: 15px;
}

.event-item {
    font-size: 1em;
    color: white;
    background: hsl(200, 50%, 30%);
    width: 80%;
    margin: auto;
    padding: 5px;
}

.pat-event {
    padding-left: 12px;
    padding-bottom: 4px;
}

.pat-event-status {
    padding-left: 12px;
    padding-bottom: 4px;
}

.pat-event-name {
    padding-right: 8px;
    padding-top: 7px;
    margin-left: 60px;
    padding-bottom: 4px;
    color: hsl(185, 80%, 26%);
}

.pat-event-data {
    padding-left: 12px;
    padding-bottom: 4px;
    color: hsl(200, 0%, 70%);
}

.pat-event-date {
    padding-left: 12px;
    padding-top: 8px;
    color: hsl(200, 0%, 20%);
}

.event-box {
    cursor: pointer;
    margin-top: 15px;
    display: flex;
    flex-wrap: wrap;
    width: 95%;
    margin-right: 20px;
    display: flex;
    margin-left: 8px;
    padding-left: 12px 8px 8px 12px;
    background: hsl(200, 0%, 92%);
    word-break: break-all;
    border-radius: 3px;
    font-weight: 500;
    font-size: 1.1em;
}

.file-item-note {
    font-size: 0.7em;
    width: 95%;
}

.file-notes {
    margin-left: 15px;
}

label {
    font-size: 0.9em;
    font-weight: 200;
}

.file-item-date {
    font-size: 0.7em;
    width: 95%;
}

.pat-Note {
    font-size: 0.8em;
    width: 65%;
}

.pat-files {
    display: block;
    font-size: 0.7em;
}

option {
    height: 50px;
}

.hint {
    position: absolute;
    top: 0.6em;
    width: 100%;
    left: 0;
    font-size: 2em;
    font-style: italic;
    text-align: center;
    color: #fff;
    opacity: 0;
}

img {
    vertical-align: center;
    horizontal-align: center;
}

.user-acct-contain {
    display: none;
}

.docDash {
    display: none;
    position: relative;
    font-weight: 400;
    color: hsl(200, 100%, 20%);
    width: 100%;
    font-size: 1.2em;
    text-align: center;
    height: 300px;
    padding-top: 60px;
}

.add-pat {
    border-bottom: solid;
    border-radius: 3px;
    border-color: hsl(195, 80%, 40%);
    border-width: 1px;
    position: relative;
    text-align: left;
    width: 95px;
    color: hsl(195, 80%, 100%);
    height: 55px;
    font-size: 0.8em;
    font-weight: 400;
    cursor: pointer;
    background: hsl(200, 90%, 20%);
    margin-top: 1px;
}

.add-pat p {
    padding-top: 20px;
    text-align: left;
    margin: 0;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 10px;
    cursor: pointer;
}

.showEditAccount,
.showLearn,
.changePass {
    border-radius: 3px;
    background: hsl(200, 90%, 20%);
    position: relative;
    text-align: left;
    /*padding-top: 30px;*/
    width: 95px;
    color: hsl(195, 80%, 100%);
    height: 55px;
    font-size: 0.8em;
    font-weight: 400;
    cursor: pointer;
    margin-top: 1px;
}

.showEditAccount p,
.showLearn p,
.changePass p {
    padding-top: 20px;
    text-align: left;
    margin: 0;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 10px;
    /*right: 50%;
    transform: translate(50%, -50%);*/
    cursor: pointer;
}

@media screen and (min-width: 414px) {
    .mid-contain {
        background-position: 0px;
        background-size: cover;
    }
}

@media screen and (min-width: 600px) {
    .mid-contain {
        background-position: 0px 0px;
        background-size: cover;
        height: 400px;
    }
    .nav-menu,
    .contain-loggedIn,
    .nav_spacer,
    .nav_spacer2,
    .contain {
        width: 90%;
        margin-left: 5%;
    }
    .mid-text {
        margin-left: 40%;
        width: 50%;
        margin-right: 5%;
    }
    .main-email2,
    .main-butt {
        margin-left: 46%;
    }
    .main-email2 {
        top: 10px;
    }
    .main-butt {
        top: 30px;
    }
}

@media screen and (min-width: 768px) {
    .nav-menu,
    .contain-loggedIn,
    .nav_spacer,
    .nav_spacer2,
    .contain {
        width: 80%;
        margin-left: 10%;
    }
    .mid-contain {
        background-image: url("/images/jumbotron3.png");
        background-position: 0px;
        background-size: cover;
    }
    .xrayImage img {
        max-height: 1000px;
        max-width: 100%;
        margin: auto;
    }
    .mid-contain {
        background-position: 0px;
        background-size: cover;
    }
    .nuForm {
        max-width: 500px;
        width: 70%;
        margin: auto;
    }
    .loginform {}
    .logInFormContain {
        max-width: 400px;
        height: calc(100vh - 100px);
        margin: auto;
    }
    .pat-list-contain {
        max-width: 500px;
        margin: auto;
    }
    .chart {
        max-width: 600px;
        margin: auto;
        min-height: calc(100vh - 100px);
    }
    .logout {
        margin-right: calc((100vw * 0.7) * 0.05);
    }
    .editAccount {
        max-width: 500px;
        margin: auto;
    }
    .mid-main,
    .mid-main2 {
        padding-left: 20px;
        font-weight: 100;
        font-size: 2em;
    }
}

@media screen and (min-width: 1100px) {
    .mid-contain {
        width: 80%;
        margin-left: 10%;
    }
}

@media screen and (min-width: 1300px) {
    .mid-contain {
        width: 75%;
        margin-left: 17.5%;
    }
}

@media screen and (min-width: 1500px) {
    .mid-contain {
        width: 70%;
        margin-left: 15%;
    }
}

var email=$('#changePassEmail').val();
var oldPass=$('#changePassOldPass').val();
var newPass=$('#changePassNewPass').val();
