body {
    font-family: helvetica;
    margin: 0px;
}

.appliance {
    display: none;
    width: 100%;
    height: 1000px;
    position: relative;
    background: white;
    /* For browsers that do not support gradients */
    margin-top: 100px;
}

.appliance2 {
    width: 100%;
    position: relative;
    background: white;
    /* For browsers that do not support gradients */
    margin-top: 100px;
}

.appl_title {
    padding-top: 40px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.4em;
    font-weight: 100;
}

.appl_title1 {
    color: hsl(1, 0%, 10%);
    text-align: center;
    font-weight: 100;
}

.appl_title2 {
    color: hsl(200, 100%, 45%);
    text-align: center;
    font-weight: 100;
}

.appl_contain {
    width: 350px;
    margin-left: auto;
    margin-right: auto;
    height: 450px;
    position: relative;
    background: white;
}

.appl_contain2 {
    width: 350px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    font-weight: 200;
    background: white;
}

.appl_contain3 {
    height: 600px;
}

.appl_pop {
    width: 100%;
    position: relative;
    font-weight: 200;
    margin-top: 30px;
}

.appl_pop-precise {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    height: 520px;
    position: relative;
    font-weight: 200;
}

.appliance_img {
    position: absolute;
    width: 300px;
    top: -15px;
    left: -25px;
}

.appliance_img2 {
    position: absolute;
    width: 200px;
    top: 600px;
    left: 95px;
}

.line1 {
    width: 60%;
    height: 1px;
    background-color: hsl(200, 0%, 90%);
    margin-left: 20%;
    position: relative;
    top: 420px;
}

.line2 {
    width: 60%;
    height: 1px;
    background-color: hsl(200, 0%, 90%);
    margin-left: 20%;
    position: relative;
    margin-bottom: 60px;
    margin-top: 80px;
}

.line2-a {
    position: relative;
    top: 150px;
}

.subtext {
    position: absolute;
    left: 130px;
    top: 210px;
}

.subtext2 {
    position: absolute;
    left: 30px;
    top: 480px;
}

.item1 {
    color: hsl(200, 0%, 35%);
    font-size: 1em;
    margin-top: 15px;
    font-weight: 100;
}

.item2 {
    color: hsl(200, 100%, 45%);
    font-size: 0.8em;
    font-weight: 100;
    margin-top: 0px;
}

.intro {
    margin-bottom: 40px;
    color: hsl(200, 0%, 65%);
    font-size: 0.9em;
    font-weight: 200;
    width: 90%;
    margin-left: 5%;
    text-align: center;
}

.intro-beauty {
    margin-bottom: 30px;
    margin-top: 65px;
    margin-top: 30px;
    color: hsl(200, 0%, 65%);
    font-size: 0.8em;
    font-weight: 200;
    width: 90%;
    margin-left: 5%;
    text-align: center;
}

.pop-intro {
    margin-top: 30px;
    margin-bottom: 30px;
    color: hsl(200, 0%, 65%);
    font-size: 0.8em;
    font-weight: 200;
    width: 90%;
    margin-left: 5%;
    text-align: center;
}

.item-title {
    color: black;
    font-size: 1.4em;
    font-weight: 100;
    margin-bottom: 30px;
    width: 90%;
    margin-left: 4%;
    margin-top: 40px;
    text-align: center;
}

.pop-title {
    color: black;
    font-size: 1.4em;
    font-weight: 100;
    margin-bottom: 20px;
    width: 90%;
    margin-left: 4%;
    text-align: center;
}

.item_link {
    color: hsl(200, 100%, 45%);
    font-size: 1em;
    margin-bottom: 30px;
    width: 50%;
    margin-left: 25%;
    text-align: center;
}

.item-sub {
    color: hsl(200, 100%, 45%);
    font-size: 0.9em;
    margin-bottom: 40px;
    width: 90%;
    margin-left: 5%;
    text-align: center;
}

.big {
    font-size: 1em;
    margin-top: 40px;
}

.big2 {
    font-size: 1em;
    margin-top: 40px;
    margin-bottom: 70px;
}

.pop-item-sub {
    color: hsl(200, 100%, 45%);
    font-size: 0.9em;
    margin-bottom: 30px;
    width: 90%;
    margin-left: 5%;
    text-align: center;
}

.item-desc {
    color: hsl(1, 0%, 60%);
    font-size: 1em;
    font-weight: 100;
    margin-bottom: 30px;
    width: 80%;
    margin-left: 7%;
    text-align: center;
}

.item-desc-pop {
    color: hsl(1, 0%, 50%);
    font-size: 0.9em;
    font-weight: 100;
    margin-bottom: 40px;
    width: 95%;
    margin-left: 2.5%;
    text-align: center;
}

.appliance_iwd2 {
    max-width: 100%;
}

.appliance_iwd {
    margin-top: 30px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
}

.seat {
    width: 60%;
    margin-left: 17%;
}

.mirror {
    width: 70%;
    margin-left: 12%;
}

.redgirl {
    width: 50%;
    margin-left: 23%;
}

.size {
    width: 65%;
    margin-left: 19%;
}

.comfort {
    width: 100%;
}

.tray-414 {
    width: 80%;
    margin-left: 8%;
}

.precise {
    width: 65%;
    margin-left: 21%;
    margin-top: 20px;
}

.dart {
    width: 65%;
    margin-left: 10%;
    margin-top: 20px;
}

.setup {
    width: 45%;
    margin-left: 25%;
    margin-top: 20px;
}

.space-hold {
    height: 300px;
    width: 60%;
    margin-left: 18%;
    text-align: center;
}

.beauty,
.dialed,
.autopilot,
.digital,
.retainer,
.preinstalled {
    cursor: pointer;
}

.xout {
    font-size: 1em;
    color: hsl(1, 0%, 40%);
    position: relative;
    width: 10px;
    height: 10px;
    top: 5px;
    left: 94%;
    cursor: pointer;
}

.inviscomfort {
    width: 100%;
    background: white;
    position: relative;
    top: 30px;
}

.inviscomfort-inside {
    width: 100%;
}

.pop-overview {
    height: 1550px;
    width: 100%;
    background: white;
}

.pop-install {
    width: 100%;
    background: white;
}

.pop-dialed {
    width: 100%;
    background: white;
}

.pop-retainer {
    width: 100%;
    background: white;
}

.pop-precise {
    width: 100%;
    background: white;
    margin-bottom: 80px;
}

.pop-overview-inside {
    height: 1500px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border-width: 1px;
    border-radius: 7px;
    border-color: hsl(2, 0%, 80%);
}

.pop-overview-inside2 {
    height: 1390px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border-width: 1px;
    border-radius: 7px;
    border-color: hsl(2, 0%, 80%);
}

.pop-precise-inside2 {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border-width: 1px;
    border-radius: 7px;
    border-color: hsl(2, 0%, 80%);
}

.pop-dialed-inside2 {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border-width: 1px;
    border-radius: 7px;
    border-color: hsl(2, 0%, 80%);
}

.pop-retainer-inside2 {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border-width: 1px;
    border-radius: 7px;
    border-color: hsl(2, 0%, 80%);
}

.pop-install-inside2 {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border-width: 1px;
    border-radius: 7px;
    border-color: hsl(2, 0%, 80%);
}

.logoContain2 {
    position: fixed;
    background: hsl(1, 0%, 85%);
    padding-bottom: 5px;
    width: 100%;
    height: 30px;
    left: -0px;
    top: -0px;
    z-index: 2;
}

.logo {
    height: 30px;
    padding-top: 8px;
    padding-left: 5px;
}

.logo2 {
    position: relative;
    left: 10px;
    height: 20px;
    padding-top: 7px;
}

.orthocure2 {
    position: relative;
    font-size: 1.0em;
    font-weight: 300;
    color: hsl(1, 0%, 100%);
    left: 13px;
    top: 9px;
}

.scroll {
    width: 100%;
    margin-top: 60px;
}

.scroll2 {
    position: relative;
    width: 80px;
    margin-left: 50%;
    opacity: 0.2;
}

.scroll-down {
    transform: translate( -50px, 0%);
    width: 100%;
}
